.kinds {
  padding-left: 20px;
  width: 40%;
  margin-bottom: 15px;
  float: left;
  &__title {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: rgb(243, 243, 243);
    text-shadow: 1px 1px rgb(0, 0, 0);
    margin-bottom: 10px;
    text-align: left;
  }
  ul {
    li {
      text-align: left;
    }
  }
}